<header>
  <nav>
    <ul>
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'New company', new_company_path %>
      </li>
      <li>
        <%= link_to 'New product', new_product_path %>
      </li>
      <li>
        <%= link_to 'New user', new_user_path %>
      </li>
      <li>
        <%= link_to 'All companies', companies_path %>
      </li>
      <li>
        <%= link_to 'All products', products_path %>
      </li>
      <li>
        <%= link_to 'All users', users_path %>
      </li>
      <li>
        <% if admin_signed_in? %>
          <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', new_admin_session_path %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>