<div class="center font-weight-bold"><%= @user.first_name.capitalize %> <%= @user.last_name.upcase %></div>
<%= form_with model: @user, local: true do |f| %>
  <div class="wrapper">
    <%= f.label :fist_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="wrapper">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="wrapper">
    <%= f.label :companies_id %>
    <%= f.select :companies_id, Company.all.collect { |c| [ c.name, c.id ] } %>
  </div>

  <div class="wrapper">
    <%= f.submit :value => 'Modifier', :class => 'btn btn-primary' %>
  </div>
<% end %>