<div class="center"><%= @company.name.upcase %></div>
<%= form_with model: @company, local: true do |f| %>
  <div class="wrapper">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="wrapper">
    <%= f.label :director_name %>
    <%= f.text_field :director_name %>
  </div>

  <div class="wrapper">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="wrapper">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>