<p>
  <a href="<%= new_company_path %>">New</a>
</p>
<% @companies.each do |company| %>
  <div class="wrapper">
    <p>NAME : <%= company.name %></p>
    <p>CITY : <%= company.city %></p>
    <p>PDG : <%= company.director_name %></p>
    <p>
      <%= link_to 'Show', company_path(company.id) %>
    </p>
    <p>
      <%= link_to 'Edit', edit_company_path(company.id) %>
    </p>
    <p>
      <%= link_to 'Delete', company, method: :delete, data: { confirm: 'Êtes vous sur ?' } %>
    </p>
  </div>
<% end %>