<div class="text-center font-weight-bold title">Add new company</div>

<% if @company.errors.any? %>
  <% @company.errors.each do |name, msg| %>
    <% name = 'Director name' if name.to_s === 'director_name' %>
    <p class="text-center"><%= name %> <%= msg %></p>
  <% end %>
<% end %>

<%= form_with model: @company, local: true do |f| %>
  <div class="wrapper">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Nom de la société' %>
  </div>

  <div class="wrapper">
    <%= f.label :director_name %>
    <%= f.text_field :director_name, placeholder: 'Nom du directeur' %>
  </div>

  <div class="wrapper">
    <%= f.label :city %>
    <%= f.text_field :city, placeholder: 'Nom de la ville' %>
  </div>

  <div class="wrapper">
    <%= f.submit :class => 'btn btn-primary', :value => 'Enregistrer' %>
  </div>
<% end %>