<%= form_with model: @company, local: true do |f| %>
  <div class="wrapper">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Nom de la société' %>
  </div>

  <div class="wrapper">
    <%= f.label :director_name %>
    <%= f.text_field :director_name, placeholder: 'Nom du directeur' %>
  </div>

  <div class="wrapper">
    <%= f.label :city %>
    <%= f.text_field :city, placeholder: 'Nom de la ville' %>
  </div>

  <div class="wrapper">
    <%= f.submit %>
  </div>
<% end %>