<div class="center"><%= @product.name %></div>
<%= form_with model: @product, local: true do |f| %>
  <div class="wrapper">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="wrapper">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="wrapper">
    <%= f.label :reference %>
    <%= f.number_field :reference %>
  </div>

  <div class="wrapper">
    <%= f.label :companies_id %>
    <%= f.select :companies_id, Company.all.collect { |c| [ c.name, c.id ] } %>
  </div>

  <div class="wrapper">
    <%= f.submit :value => 'Modifier' %>
  </div>
<% end %>